<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Explore the Best Things to Do in Mashhad</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<header>
  <nav>
    <ul class="hover">
      <li><a th:href="@{/}" >Home</a></li>
      <li><a th:href="@{/about}">About</a></li>
      <li><a th:href="@{/attractions}">Things to Do</a></li>
      <li><a th:href="@{/food}">Eat & Drink</a></li>
      <li><a th:href="@{/contact}">Contact & Forum</a></li>
    </ul>
  </nav>
</header>
<main>
  <div>
    <img th:src="@{/images/Mashhad.gif}" alt="Mashhad" class="img" />
  </div>
</main>
<footer>
  <p>&copy; 2024 mashhad.website. All rights reserved.</p>
</footer>
</body>
</html>
